*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite NG Modern", cursive;
    color: rgb(255, 255, 255);
}
html{
    overflow-x: hidden;
}
.separado{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: linear-gradient(to right, rgb(201, 3, 99), white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    flex-direction: column;
}
.cabecalho{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 3px solid rgb(255 255 255);
}
.bolinha{
    background-color: rgb(255, 160, 184);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    box-shadow: 1px 2px 20px 3px #ffc0d7;
}
.nome{
    height: 70px;
    width: 224px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcoes{
    height: 70px;
    width: 498px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.traco{
    margin-right: 12px;
    font-size: 35px;
}
.sticky{
    background-color: orange;
    position: sticky;
    top: 15px;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 15px;
    margin-left: 10vw;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 500px;
    height: 415px;
    border: 5px solid #8d0474;
    border-radius: 10px;
    box-shadow: 19px 20px 20px 0px #83006b;
}
.sep{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px solid #8d0474;
    padding-bottom: 12px;
}
#btncep{
    color: black;
}
#btncep:hover{
    background-color: rgb(255, 133, 208);
    color: black;
    font-weight: bold;
}
.leitinha{
    color: black;
}
@media screen and (width < 415px) {
    body{
        align-items: flex-start;
        background-color: black;
        overflow: visible;
    }
    .sep{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 4px solid black;
        padding-bottom: 12px;
        background-color: #8d0474;
    }
    .cabecalho{
        display: none;
    }
    .botao{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        width: 150px;
        font-size: 15px;
        background-color: rgb(139 0 109);
        font-weight: bold;
    }
    .separado{
        width: 50vw;
        height: 100%;
        display: block;
    }
    .titulos{
        margin-top: 70px;
        margin-bottom: 30px;
        background-color: rgb(201 3 99);
        width: 100vw;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        height: fit-content;
    }
    .links{
        text-decoration: none;
        background: white;
        margin-bottom: 22px;
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;    
    }
    .aberto{
        display: none;
        flex-direction: column;
        height: 80vw;
        width: 100vw;
        align-items: center;
    }
    aside{
        display: flex;
        transition: 0.5s ease-in-out;
        background: rgb(139 0 109);
        position: absolute;
        width: 0vw;
        height: 100vh;
        z-index: 1;
        border-right: 5px solid rgb(201 3 99);
        border-bottom: 5px solid black
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: -webkit-fill-available;
        height: 100vh;
        border: 5px solid black;
        border-radius: 10px;
    }
}

